/* using style linking
se the same font-family name multiple times, setting the weights and styles
in each @font-face declaration to match the weight and style of the Web font file being accessed
*/

@font-face {
    font-family: 'Inter-Regular';
    src: url('./Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('./Inter-SemiBold.ttf') format('truetype');
}

